body {
    padding: 2em;
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    margin-left: 2em;
}

h1 {
    margin-top: 0;
    color: navy;
}

label {
    display: inline-block;
    width: 20em;
    padding-right: 2em;

}

div {
    margin-bottom: .5em;

}
