@model TicketViewModel

<h2>New Task</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="CurrentTask.TicketName">Ticket Name:</label>
        <input asp-for="CurrentTask.TicketName" my-required />
        <input type="text" asp-for="CurrentTask.TicketName" class="form-control" />
        <input my-required type ="text" id="TicketName" name="TicketName" value="" class="form-control"/>
        <span class="text-danger mr-2">*</span>
    </div>

    <div class="form-group">
        <label asp-for="CurrentTask.TicketDesc">Description:</label>
        <input type="text" asp-for="CurrentTask.TicketDesc" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CurrentTask.PointValue">Point Value:</label>
        <input type="text" asp-for="CurrentTask.PointValue" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CurrentTask.SprintId">Sprint:</label>
        <select asp-for="CurrentTask.SprintId" class="form-control"
                asp-items="@(new SelectList(Model.Redo_Sprints, "SprintID", "SprintName"))">
            <option value=""></option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="CurrentTask.Deadline">Deadline:</label>
        <input type="text" asp-for="CurrentTask.Deadline" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CurrentTask.StatusId">Status:</label>
        <select asp-for="CurrentTask.StatusId" class="form-control"
                asp-items="@(new SelectList(Model.Redo_Statuses, "StatusID", "StatusName"))">
            <option value=""></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

