@model AgeCheckModel
@{
    ViewBag.Title = "2020 Age Calculator";
    Layout = "_Layout";
}

    <h1 class="jumbotron">2020 Age Calculator</h1>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label class= "ml-2" asp-for="UserName">Enter Your Full Name:</label>
            <input class="ml-3" asp-for="UserName"/>
        </div>
        <div class="form-group">
            <label class= "ml-2" asp-for="BirthDate"> Select Your Birth Date: </label>
            <input class="ml-2" asp-for="BirthDate" />
        </div>
        <div class="form-group">
            <label class="ml-2"> Hello, </label>
            <input value="@ViewBag.UserName" readonly />
            <label>Your Age for this Year (2020) is: </label>
            <input value="@ViewBag.YourAge" readonly />
        </div>
        <div class="m-2">
        <button type="submit" class="butn btn-outline-secondary">Calculate</button>
        <a asp-action="Index">Clear</a>
        </div>
    </form>

    
